@model Data.Models.Prepod

@{
    ViewData["Title"] = "Details";
}

<h1 class="t">Детали</h1>

<div>
    <h4>Преподаватель:</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Фамилия)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Фамилия)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Имя)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Имя)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Отчество)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Отчество)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Куратор_Группы)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Куратор_Группы)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Профессия)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Профессия)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.День_Рождения)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.День_Рождения)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Номер_Кабинета)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Номер_Кабинета)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Зарплата)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Зарплата)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Стаж)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Стаж)
        </dd>
    </dl>
</div>
<br>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Изменить</a> |
    <a asp-action="Index">На страницу просмотра</a>
</div>