@model IEnumerable<Data.Models.Prepod>

@{
    ViewData["Title"] = "Index";
}

<h1 class="t">Все преподаватели</h1>

<p>
    <a asp-action="Create">Внести Преподавателя</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Фамилия)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Имя)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Отчество)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Куратор_Группы)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Профессия)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.День_Рождения)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Номер_Кабинета)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Зарплата)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Стаж)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Фамилия)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Имя)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Отчество)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Куратор_Группы)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Профессия)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.День_Рождения)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Номер_Кабинета)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Зарплата)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Стаж)
            </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.id">Изменить</a> |
                    <a asp-action="Details" asp-route-id="@item.id">Детали</a> |
                    <a asp-action="Delete" asp-route-id="@item.id">Удалить</a>
                </td>
        </tr>
}
    </tbody>
</table>
